.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2d4373;
  color: #FFF;
  padding: 0 24px;
  position: fixed;
  top: 0;
  z-index: 100;

  ul {
    list-style: none;
    display: flex;
    // justify-content: flex-end;
    gap: 15px;
    align-items: center;

    margin-right: 53px;
  }

  a {
    color: #FFF;
    padding: 10px;
    text-decoration: none;


    &.active {
      opacity: .5;
      cursor: default;
      pointer-events: none;
      color: yellow;
    }
  }
}

.logo {
  font-size: 22px;
  line-height: 32px;

}

.svgWrapper {
  width: 24px;
  height: 24px;
  fill: white;

  &:hover {
    cursor: pointer;
    fill: gold
  }
}