// .productsContainer {
//     padding: 30px;
//     display: grid;
//     grid-template-columns: 1fr;
//     gap: 30px;

//     @media (min-width: 568px) {
//       grid-template-columns: repeat(2, 1fr);
//     }

//     @media (min-width: 768px) {
//       grid-template-columns: repeat(3, 1fr);
//     }

//     @media (min-width: 1024px) {
//       grid-template-columns: repeat(4, 1fr);
//     }
//   }



.productsContainer {
  margin-top: 70px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}



// .productsContainer {
//   padding: 30px;
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   gap: 30px;


//   @media (max-width: 1023px) {
//     .productsContainer {
//       grid-template-columns: repeat(3, 1fr);
//     }
//   }

//   @media (max-width: 767px) {
//     .productsContainer {
//       grid-template-columns: repeat(2, 1fr);
//     }
//   }

//   @media (max-width: 567px) {
//     .productsContainer {
//       grid-template-columns: 1fr;
//     }
//   }
// }