// .svg {
//     width: 24px;
//     height: 24px;
//     // position: absolute;
//     // top: 20;
//     // right: 12px;

    

//     &:hover {
//         cursor: pointer;
//         fill: gold
//     }
// }