.btn {
    padding: 16px 20px;
    background-color: #8A33FD;
    color: white;
    border: none;
    margin-right: 30px;
    border-radius: 8px;

    &:hover {
        background-color: lightsalmon;
    }


    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 250px;

    }
}