.modal {

    .background {
        background: rgba(0, 0, 0, .4);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;


        display: flex;
        align-items: center;
        justify-content: center;

    }



    .header {
        color: #191919;
        font-family: "Inter";
        text-align: center;
    }

    .wrapper {
        background: white;
        border-radius: 16px;
        width: 560px;
        height: 558px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .paragraph {

        width: 448px;
        text-align: center;
        line-height: 26px;
        color: #7F7F7F;
        font-family: "Roboto";
    }

    .close {
        border: none;
        color: #3C4242;
        background-color: white;
        margin-left: 410px;
    }


    .btn {
        padding: 16px 20px;
        background-color: #8A33FD;
        color: white;
        border: none;
        margin-right: 30px;
        border-radius: 8px;

        &:hover {
            background-color: lightsalmon;
        }
    }


    .btn-delete {
        background-color: white;
        border: 1px solid #3C4242;
        color: #8A33FD;

    }
}

// .buttons {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     gap: 15px;
// }

// .opinFirst,
// .opinSecond {
//     box-sizing: border-box;
//     padding: 15px;
//     border-radius: 10px;
// }

// .opinFirst {
//     background-color: wheat;
// }

// .opinSecond {
//     background-color: pink;
// }

// .modal {
//     &Wrapper {
//         background-color: rgba(0, 0, 0, .4);
//         width: 100%;
//         height: 100%;
//         position: absolute;
//         top: 0;
//         left: 0;
//         z-index: 1;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//     }

//     &Body {
//         width: fit-content;
//         height: fit-content;
//         z-index: 2;
//         background: white;
//         box-sizing: border-box;
//         padding: 30px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }

//     &Header {
//         background-color: wheat;
//         box-sizing: border-box;
//         padding: 15px;
//         border-radius: 10px;
//     }
// }